@model IEnumerable<EventEaseManagementSystem.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form class="mb-4" method="get" asp-action="Index">
    <div class="input-group mb-3">
        <input type="text" name="searchQuery" class="form-control" placeholder="Search by Venue ID, Event ID or Booking Date" value="@Context.Request.Query["searchQuery"]" />
        <button type="submit" class="btn btn-primary">Search</button>
        @if (!string.IsNullOrEmpty(Context.Request.Query["searchQuery"]))
        {
            <a href="@Url.Action("Index", "Booking")" class="btn btn-outline-secondary">Clear</a>
        }
    </div>
</form>

@if (TempData["SuccessMessage"] != null)
{
    <div class="mb-4 mb-4 alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["UpdateMessage"] != null)
{
    <div class="mb-4 mb-4 alert alert-success alert-dismissible fade show" role="alert">
        @TempData["UpdateMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["DeleteMessage"] != null)
{
    <div class="mb-4 mb-4 alert alert-success alert-dismissible fade show" role="alert">
        @TempData["DeleteMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue.VenueId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
